.img-close-button {
  width: 20px;
}

.button-close {
  box-shadow: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: -10px;
}

.button-register {
  background-color: transparent;
  border-color: transparent;
}
